@layout('layouts.app')



@section('content')
  
<div class="page-title">
    <div class="container">
        <div class="padding-tb-120px">
            <h1>Our Resource</h1>
        </div>
    </div>
</div>


<!-- Gallery -->
<div class="nile-about-section">
    <div class="container">
        
    </div>
</div>

@endsection